@CHARSET "ISO-8859-1";

BODY {
	text-align: center;
	margin: 0;
	padding: 0;
}

#container {
	width: 800px;
	margin: 0 auto;
}

#header {
	height: 80px;
	padding-top: 20px;
	font-weight:400;
	text-align: center;
}

#navigation {
	height: 25px;
	padding-top: 3px;
	text-align: right;
}

#contentpane {
	/* border: solid 1px grey; */
	text-align: left;
	background-color: #ffffc0;
}

#sidepane {
	width: 180px;
	float: left;
	margin-bottom: 0px;
}

#navigation span {
/*	border-top: solid 1px grey;
	border-left: solid 1px grey;
	border-right: solid 1px grey; */
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px;
	text-align: center;
}

#content {
	margin-left: 180px;
}

.current_page_item {
	background-color: #ffffc0;
	/* border-top: solid 1px black;
	border-left: solid 1px black;
	border-right: solid 1px black; */
}

#topbox {
	text-align: right;
}

#footer {
	clear: both;
	text-align: center;
}

#footer span {
	width: 500px;
}

.wikicontent {
	width: 450px;
}