.Brand {
    padding       : 0;
    float         : left;
    width         : 140px;
    margin        : 10px 0;
    font-size     : 14px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-right  : 1px solid #999999;
}

.TagLine {
    float         : left;
    width         : 250px;
    font-size     : 12px;
    line-height   : 2.5em;
    padding-left  : 10px;
    text-transform: lowercase;
}
